@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --blue: #2196f3;
  --gray: #757575;
  --black: #212121;
  --lightgray: #f5f4fa;
  --background: #fff;
  --dark-background: #2f303a;
  --bold: 700;
  --white: #fff;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  list-style: none;
  color: var(--black);

  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--background);
  margin: 0;
}
address {
  font-style: normal;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
button {
  display: block;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.header__container {
  border-bottom: 1px solid var(--lightgray);
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* width: 1200px; */
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.navigation__item {
  display: inline-block;
}
.contact-links {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
/* START -- Shared Styles -- */

.active--link {
  color: var(--blue);
}
.logo--light {
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: var(--bold);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: var(--bold);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.logo-accent {
  color: var(--blue);
}

.navigation__content {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  gap: 40px;
}

.navigation__link {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--black);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__link--contact {
  color: var(--gray);
}

.navigation__link--active {
  color: var(--blue);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--blue);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__content {
  text-decoration: none;
  padding-top: 20px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer__text--contact {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}
.footer__text--contact:hover {
  color: var(--blue);
}
.footer-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20px;
}
/* BUTTONS */

.button__primary {
  background-color: var(--blue);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 43px 10px 43px;
}
.button__primary--bold-text {
  font-weight: var(--bold);
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

.button__secondary {
  background-color: var(--lightgray);
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
}

.button__secondary--light-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: var(--black);
  letter-spacing: 0.03em;
  text-align: center;
}

.button__secondary--light-text:hover,
.button__secondary--light-text:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -- BUTTONS STYLE END -- */
/* END -- Shared styles -- */

/* -- INDEX.HTML STYLES -- */

/*.hero__container {
}*/

.hero__container--background {
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
}

.hero__title {
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 616px;
  padding: 200px 455px 200px 455px;
  gap: 30px;
}
.section-4-col__container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-4-col__container--light-bg {
  background-color: var(--lightgray);
}
.section-4-col__content {
  display: flex;
  flex-direction: row;

  gap: 30px;
  justify-content: space-between;
  padding: 0;
}

.section-4-col__item {
  list-style: none;
  background-color: var(--white);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-4-col__item--no-shadow {
  list-style: none;
  background-color: var(--white);
}

.section-4-col__title {
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.section-4-col__title--big {
  color: var(--black);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  padding-bottom: 50px;
}

.section-4-col__title--medium {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
}
.section-4-col__text {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-4-col__text--medium {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.section-3-col__container {
  display: flex;
  padding-bottom: 94px;
}

.section-3-col__title {
  font-weight: var(--bold);
  color: var(--black);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.section-3-col__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.section-3-col__item {
  list-style: none;
}

.section-3-col__content-box {
  margin: 0;
  padding: 0;
}

.section-3-col__content-box__title {
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.section-3-col__content-box__text {
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin: 0;
}

.section-3-col__content-box__figcaption {
  padding: 20px 24px 20px 24px;
}

.section-3-col__content-box__figcaption--border {
  border-bottom: 1px solid var(--lightgray);
  border-left: 1px solid var(--lightgray);
  border-right: 1px solid var(--lightgray);
}
/* -- END INDEX.HTML STYLES -- */
/* -- START PORTFOLIO.HTML STYLES -- */

.section-1-col__container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-1-col__content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

/*.section-1-col__item {
}*/

/* -- icons -- */

.icon-features {
  width: 270px;
  height: 120px;
  padding-bottom: 30px;
}

.icon-contact--mail {
  width: 16px;
  height: 12px;
}

.icon-contact--phone {
  width: 10px;
  height: 16px;
}

.icon-social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  border-radius: 50%;
  border: none;
}
.contact-links--item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
